<!doctype html>
<html lang="en">
<head>
    <meta name="referrer" content="no-referrer">
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<input type="text" name="text">
<a href="#" class="say"> say it!</a>
<audio src="#" class="speech" hidden></audio>
    <script
            src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>

    $(function (){
        $('a.say').on("click",  function (e){
          e.preventDefault();
          let text = $('input[name="text"]').val()
          text = encodeURIComponent(text);
          console.log(text)
          let url = "http://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&total=1&idx=0&textlen=32&q="+text+"&tl=ko-kr"
          console.log(url)
          $('audio').attr('src',url).get(0).play();
        })
    })
</script>
</body>
</html>